<div class="card-body"><a type="submit" href="#" class="btn btn-outline-dark">Inicio</a>
    <a class="btn btn-outline-primary" href="http://www2.aneel.gov.br/scg/gd/gd_fonte_detalhe.asp?tipo=12&pagina=1"
        target="_blank" rel="noopener">
        <font style="vertical-align: inherit;">
            <font style="vertical-align: inherit;">Dados extraidos da ANEEL</font>
        </font>
    </a>
</div>